@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
  /* Prevent horizontal overflow */

}

@font-face {
  font-family: 'cheeseFont';
  src: url('/fonts/cheeseFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cheesy {
  font-family: 'cheeseFont', sans-serif;
}

/* Background Image for Home Page */
.homeBG {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url('/images/homeBG4.png');
  background-size: cover;
  background-position: 0% 20%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  /* Mobile adjustments */
  @media (max-width: 768px) {
    /* background-size: auto 60vh; */
    /* Adjust to fit height */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Reduce height slightly for mobile */
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

/* Shadow Glow Effect */
/* .shadow-glow {
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.2),
    0 0 20px rgba(59, 130, 246, 0.2),
    0 0 30px rgba(59, 130, 246, 0.2),
    0 0 40px rgba(59, 130, 246, 0.2); */

/* Mobile adjustments */
/* @media (max-width: 768px) {
    text-shadow: 0 0 5px rgba(59, 130, 246, 0.7),
      0 0 10px rgba(59, 130, 246, 0.5),
      0 0 15px rgba(59, 130, 246, 0.3),
      0 0 20px rgba(59, 130, 246, 0.2);
  } */
/* } */

/* Mobile-specific Utility Classes */
@media (max-width: 768px) {
  .cheesy {
    font-size: 1.25rem;
    /* Adjust font size for readability */
    line-height: 1.5rem;
  }

  .homeBG {
    padding: 1rem;
    /* Add spacing for mobile screens */
  }
}